{% load static %}
<!DOCTYPE html>
<html lang="ko-KR">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>My Blog</title>
		<!-- reset.css : meyerweb -->
		<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
		<!-- font : pretendard -->
		<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />

		<link rel="stylesheet" href="{% static 'css/global.css' %}" />

		<!-- layout -->
		<link rel="stylesheet" href="{% static 'css/header.css' %}" />
		<link rel="stylesheet" href="{% static 'css/footer.css' %}" />

		<!-- component -->
		<link rel="stylesheet" href="{% static 'css/button.css' %}" />
		<link rel="stylesheet" href="{% static 'css/banner.css' %}" />
		<link rel="stylesheet" href="{% static 'css/category.css' %}" />
		<link rel="stylesheet" href="{% static 'css/author.css' %}" />

		<link rel="stylesheet" href="{% static 'css/wrapbox.css' %}" />
		<link rel="stylesheet" href="{% static 'css/view.css' %}" />
	</head>
	<body>
		<!-- header -->
		<header>
			<div class="max-width">
				<h1>
					<a href="{% url 'blog:list' %}">
						<img src="{% static 'assets/Logo.svg' %}" alt="My Blog" />
					</a>
				</h1>

				<ul>
					<!--프사-->
					<li class="profile-img">
						<a href="#">
							{% if user.profile_img %}
							<img src="{{ user.profile_img.url }}" alt=""/>
							{% endif %}
						</a>
					</li>

					<!--글 작성 버튼-->
					{% if user.is_authenticated %}
					<li>
						<a href="{% url 'blog:write' %}" class="button">
							<img src="{% static 'assets/icon-modify-white.svg' %}" alt="" />
							<span>Write</span>
						</a>
					</li>
					{% else %}
					<li class="only-pc">
						<a href="{% url 'user:register' %}" class="button gray">
							<img src="{% static 'assets/icon-register.svg' %}" alt="" />
							<span>Register</span>
						</a>
					</li>
					{% endif %}

					<!--로그아웃 버튼-->
					{% if user.is_authenticated %}
					<li>
						<a href="{% url 'user:logout' %}" class="button white">
							<img src="{% static 'assets/icon-logout.svg' %}" alt="" />
							<span>Logout</span>
						</a>
					</li>
					{% else %}
					<!--로그인 버튼-->
					<li>
						<a href="{% url 'user:login' %}" class="button gray">
							<img src="{% static 'assets/icon-login.svg' %}" alt="" />
							<span>Login</span>
						</a>
					</li>
					{% endif %}
					
				</ul>
			</div>
		</header>
		<!--// header -->

		<!-- banner -->
		<div class="banner" style="background-image: url({% static 'images/post-background5.jpg' %})">
			<div class="max-width">
        <div class="banner-contents">
					<p class="today">Edit</p>
				</div>
			</div>
		</div>
		<!-- //banner -->

		<!-- post view -->
    {% block content %}
		<div class="view">
			<div class="max-width">
				<section class="wrap-box">
					<div class="inner">
						<!-- author -->
						{% comment %} <dl class="author-wrap">
							<dt class="a11y-hidden">Author</dt>
							<dd class="author"><img src="{% static 'images/profile.jpg' %}" alt="" />{{ post.writer }}</dd>
							<dt class="a11y-hidden">Created</dt>
							<dd class="created">{{ post.created_at|date:'Y.m.d' }}</dd>
						</dl> {% endcomment %}
						<!-- //author -->

            <form action="{% url 'blog:edit' pk=post.pk %}" method="post" enctype="multipart/form-data">
              <div class="title-wrap">
                  {% csrf_token %}
                  <div>
                    <inp>{{ form.title }}</inp>
                  </div>
              </div>

            <!-- category -->
            <input type="hidden" name="category" value="{{ post.category }}">
            <dl class="category">
                <dt class="a11y-hidden">Category</dt>
                <dd>{{ post.category }}</dd>
            </dl>
            <!-- //category -->
            
              <hr />

              <div class="view-contents">
                <p>
                  {{ form.content }}
                </p>
              </div>

              <!-- image -->
              <div class="image-box">
								<input type="file" id="id_image" name="image" onchange="readURL(this);">
								<img id="preview" src="{% if post.image %}{{ post.image.url }}{% else %}{% static 'images/default.png' %}{% endif %}" alt="Image Preview">
							</div>
              <!-- //image -->

              <input type="submit" value="수정">
            </form>

            <a href="{% url 'blog:list' %}" class="btn-back">
              <span class="a11y-hidden">Back</span>
            </a>
					</div>
				</section>
			</div>
		</div>
    {% endblock %}
    <!-- //post view  -->

		<!-- footer -->
		<footer>
			<div class="max-width">
				<h2>©Weniv Corp.</h2>
				<button class="top-button">TOP</button>
			</div>
		</footer>
		<!-- //footer -->
    <script>
			function readURL(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();
					reader.onload = function(e) {
						document.getElementById('preview').src = e.target.result;
					};
					reader.readAsDataURL(input.files[0]);
				} else {
					document.getElementById('preview').src = "";
				}
			}
		</script>
	</body>
</html>