{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="ko-KR">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>My Blog</title>
		<!-- reset.css : meyerweb -->
		<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
		<!-- font : pretendard -->
		<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />

		<link rel="stylesheet" href="{% static 'css/global.css' %}" />

		<!-- layout -->
		<link rel="stylesheet" href="{% static 'css/header.css' %}" />
		<link rel="stylesheet" href="{% static 'css/footer.css' %}" />

		<!-- component -->
		<link rel="stylesheet" href="{% static 'css/button.css' %}" />
		<link rel="stylesheet" href="{% static 'css/banner.css' %}" />
		<link rel="stylesheet" href="{% static 'css/category.css' %}" />
		<link rel="stylesheet" href="{% static 'css/author.css' %}" />

		<link rel="stylesheet" href="{% static 'css/wrapbox.css' %}" />
		<link rel="stylesheet" href="{% static 'css/view.css' %}" />

		<!--Toast UI Test-->
		<link
        rel="stylesheet"
        href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
    />
		<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<meta name="csrf-token" content="{{ csrf_token }}">
		<style>

			.input-box{
				display: flex;
				justify-content: center;
				flex-direction: column;
			}

			.input-btn{
				background-color: #37aaec;
				font-size: larger;
				color: white;
				border: none;
				border-radius: 10px;
				padding: 10px;
			}

			#preview {
				width: 400px;
				height: 400px;
				padding: 20px;
				margin: 0 auto;
			}
			
			.image-box {
				display:flex;
				flex-direction: column;
			}
			.input-title {
				padding: 5px;
				background-color: #f5a392;
				border: none;
				color: white;
				border-radius: 10px;
			}

			.selectBox {
				position: relative;
				width: 150px;
				height: 35px;
				border-radius: 4px;
				border: 2px solid #f5a392;
				margin-top: 20px;
			}
			.selectBox .select {
				width: inherit;
				height: inherit;
				background: transparent;
				border: 0 none;
				outline: 0 none;
				padding: 0 5px;
				position: relative;
				z-index: 3;
				
			}
			.selectBox .select option {
				background: #f5a392;
				color: #fff;
				padding: 3px 0;
				font-size: 16px;
			}
			
			.selectBox .select option:hover {
				background: #ffccaa !important;
				color: #000 !important;
			}
		
		</style>
	</head>
	<body>
		<!-- header -->
		<header>
			<div class="max-width">
				<h1>
					<a href="{% url 'blog:list' %}">
						<img src="{% static 'assets/Logo.svg' %}" alt="My Blog" />
					</a>
				</h1>
				<ul>
					<!-- 로그인 -->
					<li class="profile-img">
						<a href="#">
							<img src="{% static 'assets/profile.jpg' %}" alt="My Page" />
						</a>
					</li>
					<li>
						<a href="#" class="button">
							<img src="{% static 'assets/icon-modify-white.svg' %}" alt="" />
							<span>Write</span>
						</a>
					</li>
					<li>
						<button class="button white">
							<img src="{% static 'assets/icon-logout.svg' %}" alt="" />
							<span>Logout</span>
						</button>
					</li>
					<!-- //로그인 -->

					<!-- 로그아웃 -->
					<!--
					<li>
						<a href="#" class="button gray">
							<img src="./assets/icon-login.svg" alt="" />
							<span>Login</span>
						</a>
					</li>
					<li class="only-pc">
						<a href="#" class="button gray">
							<img src="./assets/icon-register.svg" alt="" />
							<span>Register</span>
						</a>
					</li>
          -->
					<!--// 로그아웃 -->
				</ul>
			</div>
		</header>
		<!--// header -->

		<!-- banner -->
		<div class="banner" style="background-image: url({% static 'images/post-background2.jpg' %})">
			<div class="max-width">
        <div class="banner-contents">
					<p class="today">Write</p>
				</div>
			</div>
		</div>
		<!-- //banner -->

		<!-- post view -->
    {% block content %}
		<div class="view">
			<div class="max-width">
				<section class="wrap-box">
					<div class="inner">
						<!-- author -->
						{% comment %} <dl class="author-wrap">
							<dt class="a11y-hidden">Author</dt>
							<dd class="author"><img src="{% static 'images/profile.jpg' %}" alt="" />{{ post.writer }}</dd>
							<dt class="a11y-hidden">Created</dt>
							<dd class="created">{{ post.created_at|date:'Y.m.d' }}</dd>
						</dl> {% endcomment %}
						<!-- //author -->

						<div class="input-box">
							<form action="{% url 'blog:write' %}" method="post" enctype="multipart/form-data">
								<div class="title-wrap">
										{% csrf_token %}
										<div>
											<h2>{{ form.title|add_class:'input-title' }}</h2>
										</div>
								</div>

								<!-- category -->
								<dl class="selectBox">
									<dt class="a11y-hidden">Category</dt>
									{% comment %} <dd>{{ form.category|add_class:"selectBox" }}</dd> {% endcomment %}
									<select name="category" class="select" id="id_category">
										<option value="국내여행">국내여행</option>
									
										<option value="해외여행">해외여행</option>
									
										<option value="먹방여행">먹방여행</option>
									
										<option value="자연여행">자연여행</option>
									
										<option value="액티비티">액티비티</option>
									
									</select>
								</dl>
								<!-- //category -->
							
								<hr />

								<div class="view-contents">
									<p hidden>
										{{ form.content }}
									</p>
									<div id="editor"></div>
								</div>
								<!--toast ui test-->
							

								<!-- image -->
								{% comment %} <dl class="image">
									<dt class="a11y-hidden">Image</dt>
									<dd>{{ form.image }}</dd>
							</dl> {% endcomment %}
							<!-- //image -->
							<div class="image-box">
								<input type="file" id="id_image" name="image" onchange="readURL(this);">
								<img id="preview" src="{% if form.image.url %}{{ form.image.url }}{% else %}{% static 'images/default.png' %}{% endif %}" alt="Image Preview">
							</div>

							<input class="input-btn" id="submitbtn" type="submit" value="Save">
						</form>
						</div>


            <a href="{% url 'blog:list' %}" class="btn-back">
              <span class="a11y-hidden">Back</span>
            </a>
					</di>
				</section>
			</div>
		</div>
    {% endblock %}
    <!-- //post view  -->

		<!-- footer -->
		<footer>
			<div class="max-width">
				<h2>©Weniv Corp.</h2>
				<button class="top-button">TOP</button>
			</div>
		</footer>
		<!-- //footer -->
		
		<script>
			const Editor = toastui.Editor;
			const csrf_token = document.querySelector("meta[name='csrf-token']").content;
			const editor = new Editor({
				el: document.querySelector('#editor'),
				height: "500px",
				previewStyle: 'vertical', 
				hooks: {
					// editor에서 이미지 업로드 기능
					addImageBlobHook: (blob, callback) => {
	
							const formData = new FormData();
							formData.append('image', blob);
							
							let url = '/media/';
	
							$.ajax({
									type: 'POST',
									enctype: 'multipart/form-data',
									url: '/blog/imageupload/',
									data: formData,
									dataType: 'json',
									processData: false,
									contentType: false,
									cache: false,
									timeout: 600000,
									beforeSend : function(request){
										request.setRequestHeader("X-CSRFToken", csrf_token);
									},
									success: function(data) {
											url = url + data.url
											callback(url, '사진 대체 텍스트 입력');
									},
									error: function(e) {
											callback('image_load_fail', '사진 대체 텍스트 입력');
									}
							});
					}
			}
			});

			document.getElementById('submitbtn').addEventListener('click', function(){
				const markdownContent = editor.getHTML();
				document.getElementById('id_content').value = markdownContent
			});


			function readURL(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();
					reader.onload = function(e) {
						document.getElementById('preview').src = e.target.result;
					};
					reader.readAsDataURL(input.files[0]);
				} else {
					document.getElementById('preview').src = "";
				}
			}

			
			{% comment %} form.addEventListener('submit', (e) => {
				const contentInput = document.querySelector('.contentInput');
				contentInput.value = (typeof editor.getMarkdown() !== 'undefined') ? editor.getMarkdown() : '';
			}); {% endcomment %}
		</script>
	</body>
</html>